#input-meal-name{
    background-color: #F8F7F5
}

#search-btn{
    color: white;
    background-color: #F06C4E;
}

#warning-text{
    color:  #F06C4E;
    padding-left: 2%;
}

.meal-image{
    width: 100%;
}

.meal-title{
    text-align: center;
    margin-top: 10px;
}
.meal-card{
    border-radius: 10px;
    background-color: #F8F7F5;
    height: 100%;
    overflow: hidden;
}